In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Resources/data-2.csv')

C:\Users\tinph\AppData\Local\Temp\ipykernel_42620\2556925919.py:1: DtypeWarning: Columns (15,32,33,34,46,47,48,51,52,53,54,83,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('Resources/data-2.csv')

In [3]:
df2 = pd.read_csv('Revenue.csv')
df2['Manufacturer'] = df2['Manufacturer'].str.upper()
df2

            Manufacturer          Revenue                Headquarters
0      JOHNSON & JOHNSON   $88,100,000.00   New Brunswick, New Jersey
1                  ROCHE   $65,400,000.00          Basel, Switzerland
2               NOVARTIS   $47,450,000.00          Basel, Switzerland
3                  MERCK   $46,840,000.00      Kenilworth, New Jersey
4                 ABBVIE   $33,270,000.00     North Chicago, Illinois
5        GLAXOSMITHKLINE   $43,320,000.00   Brentford, United Kingdom
6   BRISTOL MYERS SQUIBB   $42,520,000.00          New York, New York
7                 PFIZER   $51,750,000.00          New York, New York
8                SANOFI    $40,460,000.00               Paris, France
9                 TAKEDA   $30,270,000.00                Tokyo, Japan
10           ASTRAZENECA   $24,380,000.00   Cambridge, United Kingdom
11                 BAYER   $26,590,000.00         Leverkusen, Germany
12                 AMGEN   $23,360,000.00   Thousand Oaks, California
13       GILEAD SCIENCES   $22,450,000.00     Foster City, California
14            ELI LILLY    $22,320,000.00       Indianapolis, Indiana
15  BOEHRINGER INGELHEIM   $21,640,000.00          Ingelheim, Germany
16         NOVO NORDISK    $19,570,000.00           Bagsværd, Denmark
17                  TEVA   $16,890,000.00         Petah Tikva, Israel
18               BIOGEN    $14,380,000.00    Cambridge, Massachusetts
19              ASTELLAS   $11,830,000.00                Tokyo, Japan

In [4]:
df3 = df1.filter(items=['covered_recipient_first_name','covered_recipient_last_name','date_of_payment','applicable_manufacturer_or_applicable_gpo_making_payment_name','total_amount_of_payment_usdollars','number_of_payments_included_in_total_amount'])
df3

,covered_recipient_first_name,covered_recipient_last_name,date_of_payment,applicable_manufacturer_or_applicable_gpo_making_payment_name,total_amount_of_payment_usdollars,number_of_payments_included_in_total_amount
0,SAMI,ALI,06/19/2019,"Secura Bio, Inc.",14.55,1
1,SHILPA,SHAH,07/26/2019,"Secura Bio, Inc.",64.79,1
2,JEFFREY,ANDREY,07/17/2019,"Secura Bio, Inc.",64.78,1
3,KAMILA,BAKIRHAN,07/17/2019,"Secura Bio, Inc.",19.60,1
4,RAMESH,KUMAR,07/17/2019,"Secura Bio, Inc.",64.78,1
...,...,...,...,...,...,...
101385,HARESH,JHANGIANI,11/25/2019,"Ipsen Biopharmaceuticals, Inc",19.90,1
101386,TIFFANY,NGUYEN,04/04/2019,"Ipsen Biopharmaceuticals, Inc",113.96,1
101387,TARA,SEERY,07/30/2019,"Ipsen Biopharmaceuticals, Inc",28.25,1
101388,LINDSEY,STOYCHEFF,04/11/2019,Bayer HealthCare Pharmaceuticals Inc.,11.49,1
101389,CHRISTINA,NGUYEN,10/01/2019,Bayer HealthCare Pharmaceuticals Inc.,19.62,1

In [5]:
company_df = df1.filter(items=['applicable_manufacturer_or_applicable_gpo_making_payment_name','total_amount_of_payment_usdollars']).groupby(df3['applicable_manufacturer_or_applicable_gpo_making_payment_name'].astype(str).str.upper())
company_df2 = company_df['total_amount_of_payment_usdollars'].sum().reset_index().rename(columns={'applicable_manufacturer_or_applicable_gpo_making_payment_name':'Manufacturers', 'total_amount_of_payment_usdollars':'total_payment_in_2019'})
company_df2

                           Manufacturers  total_payment_in_2019
0                             3M COMPANY                4663.95
1                           ABBVIE, INC.                4599.97
2      ACTELION PHARMACEUTICALS US, INC.               26259.87
3            AERIE PHARMACEUTICALS, INC.              325920.51
4                           AFAXYS, INC.                 250.00
..                                   ...                    ...
116        VELOXIS PHARMACEUTICALS, INC.               45846.89
117  VERTEX PHARMACEUTICALS INCORPORATED                8829.78
118        VERTICAL PHARMACEUTICALS, LLC                3810.30
119              VIIV HEALTHCARE COMPANY                4838.60
120   WEST THERAPEUTICS DEVELOPMENT, LLC                 570.22

[121 rows x 2 columns]

In [6]:
df2['join'] = 1
company_df2['join'] = 1

combine_df = df2.merge(company_df2, on='join').drop('join', axis=1)
company_df2.drop('join', axis=1, inplace=True)

combine_df['match'] = combine_df.apply(lambda x: x.Manufacturers.find(x.Manufacturer), axis=1).ge(0)

In [7]:
final_df = combine_df.loc[combine_df['match'] == True].reset_index(drop=True)

final_df

,Manufacturer,Revenue,Headquarters,Manufacturers,total_payment_in_2019,match
0,JOHNSON & JOHNSON,"$88,100,000.00","New Brunswick, New Jersey",JOHNSON & JOHNSON HEALTH CARE SYSTEMS INC.,675.20,True
1,ROCHE,"$65,400,000.00","Basel, Switzerland",F. HOFFMANN-LA ROCHE AG,5677.88,True
2,ROCHE,"$65,400,000.00","Basel, Switzerland",ROCHE PRODUCTS LIMITED,3281.92,True
3,NOVARTIS,"$47,450,000.00","Basel, Switzerland",NOVARTIS PHARMA AG,105.20,True
4,NOVARTIS,"$47,450,000.00","Basel, Switzerland",NOVARTIS PHARMACEUTICALS CORPORATION,248991.33,True
5,MERCK,"$46,840,000.00","Kenilworth, New Jersey",MERCK SHARP & DOHME CORPORATION,139001.70,True
6,ABBVIE,"$33,270,000.00","North Chicago, Illinois","ABBVIE, INC.",4599.97,True
7,GLAXOSMITHKLINE,"$43,320,000.00","Brentford, United Kingdom","GLAXOSMITHKLINE, LLC.",8747.56,True
8,PFIZER,"$51,750,000.00","New York, New York",PFIZER INC.,187872.02,True
9,SANOFI,"$40,460,000.00","Paris, France",SANOFI PASTEUR INC.,88033.85,True
10,TAKEDA,"$30,270,000.00","Tokyo, Japan","TAKEDA PHARMACEUTICALS U.S.A., INC.",17746.98,True
11,ASTRAZENECA,"$24,380,000.00","Cambridge, United Kingdom",ASTRAZENECA PHARMACEUTICALS LP,41687.40,True
12,BAYER,"$26,590,000.00","Leverkusen, Germany",BAYER HEALTHCARE PHARMACEUTICALS INC.,50232.25,True
13,AMGEN,"$23,360,000.00","Thousand Oaks, California",AMGEN INC.,1800.32,True
14,BOEHRINGER INGELHEIM,"$21,640,000.00","Ingelheim, Germany",BOEHRINGER INGELHEIM (PHIL.) INC.,33535.00,True
15,BOEHRINGER INGELHEIM,"$21,640,000.00","Ingelheim, Germany",BOEHRINGER INGELHEIM INTERNATIONAL GMBH,9247.24,True
16,BOEHRINGER INGELHEIM,"$21,640,000.00","Ingelheim, Germany","BOEHRINGER INGELHEIM PHARMACEUTICALS, INC.",119708.62,True
17,ASTELLAS,"$11,830,000.00","Tokyo, Japan",ASTELLAS PHARMA GLOBAL DEVELOPMENT,18.49,True
18,ASTELLAS,"$11,830,000.00","Tokyo, Japan",ASTELLAS PHARMA US INC,18804.87,True

In [8]:
final_df.drop(['Manufacturers', 'match'], axis = 1, inplace = True)
final_df

,Manufacturer,Revenue,Headquarters,total_payment_in_2019
0,JOHNSON & JOHNSON,"$88,100,000.00","New Brunswick, New Jersey",675.20
1,ROCHE,"$65,400,000.00","Basel, Switzerland",5677.88
2,ROCHE,"$65,400,000.00","Basel, Switzerland",3281.92
3,NOVARTIS,"$47,450,000.00","Basel, Switzerland",105.20
4,NOVARTIS,"$47,450,000.00","Basel, Switzerland",248991.33
5,MERCK,"$46,840,000.00","Kenilworth, New Jersey",139001.70
6,ABBVIE,"$33,270,000.00","North Chicago, Illinois",4599.97
7,GLAXOSMITHKLINE,"$43,320,000.00","Brentford, United Kingdom",8747.56
8,PFIZER,"$51,750,000.00","New York, New York",187872.02
9,SANOFI,"$40,460,000.00","Paris, France",88033.85
10,TAKEDA,"$30,270,000.00","Tokyo, Japan",17746.98
11,ASTRAZENECA,"$24,380,000.00","Cambridge, United Kingdom",41687.40
12,BAYER,"$26,590,000.00","Leverkusen, Germany",50232.25
13,AMGEN,"$23,360,000.00","Thousand Oaks, California",1800.32
14,BOEHRINGER INGELHEIM,"$21,640,000.00","Ingelheim, Germany",33535.00
15,BOEHRINGER INGELHEIM,"$21,640,000.00","Ingelheim, Germany",9247.24
16,BOEHRINGER INGELHEIM,"$21,640,000.00","Ingelheim, Germany",119708.62
17,ASTELLAS,"$11,830,000.00","Tokyo, Japan",18.49
18,ASTELLAS,"$11,830,000.00","Tokyo, Japan",18804.87